<template name="home">
    <div class="center-containe align-center">
        <h1>You are logged in!</h1>
        {{#if isAdmin}}
            <h2>Admin</h2>
        {{/if}}
        <a class="button logout">Logout</a>
    </div>

   	<div class="center-containe align-center">
    	<h3>Search Gifts:</h3>
    	<input type="number" name="age" class="u-full-width" placeholder="Age">
    	<input type="number" name="minPrice" class="u-full-width" placeholder="Minimum Price">
    	<input type="number" name="maxPrice" class="u-full-width" placeholder="Maximum Price">
    	<select name="gender">
    	  <option value="">Select Gender</option>
		  <option value="M">M</option>
		  <option value="V">V</option>
		</select>
		<select name="event">
		  <option value="">Select event</option>
		  <option value="housewarming">House Warming</option>
		  <option value="babyshower">Baby Shower</option>
		</select>
		<input type="text" name="primaryTag" class="u-full-width" placeholder="Primary Tag">
    	<input type="text" name="secondaryTag" class="u-full-width" placeholder="Secondary Tag">
        <a href="#" id="searchGift" class="button button-primary u-full-width no-margin">Search Gifts</a>
    </div>

    <div class="center-containe align-center">
    <h3>Found gifts:</h3>
    	<table>
    		<thead>
    			<tr>
    				<td>Naam</td>
    				<td>Disc</td>
    			</tr>
    		</thead>
    		<tbody>
			 	{{#each secondSelectionArray}}
			    	<tr>
			    		<td>{{name}}</td>
			    		<td>{{description}}</td>
			    	</tr> 
	    		{{/each}}
    		</tbody>
    	</table>
	</div>

</template>

