<template name="signup">
    <div class="header align-center">
        <a href="{{pathFor '/login'}}">
            <img src="img/logo-black.png" />
        </a>
    </div>
    <div class="center-container">
        <form>
            {{#if errorMessages}}
            <div class="auth-errors">
                <ul>
                    {{#each errorMessages}}
                        <li>{{this}}</li>
                    {{/each}}
                </ul>
            </div>
            {{/if}}
            <!--<label for="email" class="font-weight-light">Email</label>-->
            <input type="email" name="email" class="u-full-width" placeholder="Your email">
            <!--<label for="password" class="font-weight-light">Password</label>-->
            <input type="password" name="password" class="u-full-width" placeholder="Password">
            <!--<label for="confirm" class="font-weight-light">Password</label>-->
            <input type="password" name="confirm" class="u-full-width" placeholder="Confirm Password">
            <div>
                <a href="#" id="signup" class="button button-primary u-full-width no-margin">Signup</a>
            </div>
        </form>
    </div>
</template>